@charset "UTF-8";
@font-face {
  font-family: "NotoSansKR";
  font-weight: 200;
  src: url("../font/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: url("../font/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url("../font/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url("../font/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url("../font/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url("../font/NotoSansKR-Black.otf") format("opentype");
}
/* 기본 스타일을 없애는 기본 스타일 시트 */
html {
  overflow-y: scroll;
}

body {
  font-family: "NotoSansKR", "Noto Sans Korean", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body * {
  font-family: "NotoSansKR", "Noto Sans Korean", "맑은 고딕", "Malgun Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

img,
table,
thead,
tfoot,
iframe {
  border: none;
}

label,
input,
button,
textarea,
select,
img {
  vertical-align: middle;
}

b,
strong {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  background: #ffffff;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

label {
  font-size: 14px;
  margin-right: 5px;
}

.frm_input, select, input[type=text], input[type=number], input[type=file], input[type=password], input[type=date], input[type=time] {
  height: 28px;
  padding: 2px 5px 2px 2px;
  border: 1px solid #eee;
  font-size: 14px;
}

input[type=checkbox], input[type=radio] {
  margin-right: 3px;
}

input:disabled {
  background-color: #ddd;
  color: #efefef;
}

input:read-only {
  background-color: #eee;
  color: #666;
}

input:required,
.required {
  background-image: url(../img/wrest.gif);
  background-repeat: no-repeat;
  background-position: right top;
}

input::placeholder {
  color: #ddd;
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
}

.dn {
  display: none;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

/* ------- grid ------ */
.grid-shadow {
  box-shadow: 1px 3px 5px #ddd;
}

.grid-wrap {
  display: flex;
  justify-content: space-between;
}
.grid-wrap .grid-col-1 {
  width: 8.3%;
}
.grid-wrap .grid-col-2 {
  width: 16.6%;
}
.grid-wrap .grid-col-3 {
  width: 25%;
}
.grid-wrap .grid-col-4 {
  width: 33.3%;
}
.grid-wrap .grid-col-5 {
  width: 41.6%;
}
.grid-wrap .grid-col-6 {
  width: 50%;
}
.grid-wrap .grid-col-7 {
  width: 58.3%;
}
.grid-wrap .grid-col-8 {
  width: 66.6%;
}
.grid-wrap .grid-col-9 {
  width: 75%;
}
.grid-wrap .grid-col-10 {
  width: 83.3%;
}
.grid-wrap .grid-col-11 {
  width: 91.6%;
}
.grid-wrap .grid-col-12 {
  width: 100%;
}

/* ------- width ------ */
.w10 {
  width: 10px;
}

.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.w70 {
  width: 70px;
}

.w80 {
  width: 80px;
}

.w90 {
  width: 90px;
}

.w100 {
  width: 100px;
}

.w110 {
  width: 110px;
}

.w120 {
  width: 120px;
}

.w130 {
  width: 130px;
}

.w140 {
  width: 140px;
}

.w150 {
  width: 150px;
}

.w160 {
  width: 160px;
}

.w170 {
  width: 170px;
}

.w180 {
  width: 180px;
}

.w190 {
  width: 190px;
}

.w200 {
  width: 200px;
}

.w210 {
  width: 210px;
}

.w220 {
  width: 220px;
}

.w230 {
  width: 230px;
}

.w240 {
  width: 240px;
}

.w250 {
  width: 250px;
}

.w260 {
  width: 260px;
}

.w270 {
  width: 270px;
}

.w280 {
  width: 280px;
}

.w290 {
  width: 290px;
}

.w300 {
  width: 300px;
}

.w310 {
  width: 310px;
}

.w320 {
  width: 320px;
}

.w330 {
  width: 330px;
}

.w340 {
  width: 340px;
}

.w350 {
  width: 350px;
}

.w360 {
  width: 360px;
}

.w370 {
  width: 370px;
}

.w380 {
  width: 380px;
}

.w390 {
  width: 390px;
}

.w400 {
  width: 400px;
}

.w10p {
  width: 10%;
}

.w15p {
  width: 15%;
}

.w20p {
  width: 20%;
}

.w25p {
  width: 25%;
}

.w50p {
  width: 50%;
}

.w100p {
  width: 100%;
}

/* ------ height ----- */
.h10 {
  height: 10px;
}

.h20 {
  height: 20px;
}

.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.h60 {
  height: 60px;
}

.h70 {
  height: 70px;
}

.h80 {
  height: 80px;
}

.h90 {
  height: 90px;
}

.h100 {
  height: 100px;
}

.h110 {
  height: 110px;
}

.h120 {
  height: 120px;
}

.h130 {
  height: 130px;
}

.h140 {
  height: 140px;
}

.h150 {
  height: 150px;
}

.h160 {
  height: 160px;
}

.h170 {
  height: 170px;
}

.h180 {
  height: 180px;
}

.h190 {
  height: 190px;
}

.h200 {
  height: 200px;
}

.h210 {
  height: 210px;
}

.h220 {
  height: 220px;
}

.h230 {
  height: 230px;
}

.h240 {
  height: 240px;
}

.h250 {
  height: 250px;
}

.h260 {
  height: 260px;
}

.h270 {
  height: 270px;
}

.h280 {
  height: 280px;
}

.h290 {
  height: 290px;
}

.h300 {
  height: 300px;
}

.h310 {
  height: 310px;
}

.h320 {
  height: 320px;
}

.h330 {
  height: 330px;
}

.h340 {
  height: 340px;
}

.h350 {
  height: 350px;
}

.h360 {
  height: 360px;
}

.h370 {
  height: 370px;
}

.h380 {
  height: 380px;
}

.h390 {
  height: 390px;
}

.h400 {
  height: 400px;
}

/* ------ margin ------ */
.mart1 {
  margin-top: 1px;
}

.marb1 {
  margin-bottom: 1px;
}

.marl1 {
  margin-left: 1px;
}

.marr1 {
  margin-right: 1px;
}

.mar1 {
  margin: 1px;
}

.mart2 {
  margin-top: 2px;
}

.marb2 {
  margin-bottom: 2px;
}

.marl2 {
  margin-left: 2px;
}

.marr2 {
  margin-right: 2px;
}

.mar2 {
  margin: 2px;
}

.mart3 {
  margin-top: 3px;
}

.marb3 {
  margin-bottom: 3px;
}

.marl3 {
  margin-left: 3px;
}

.marr3 {
  margin-right: 3px;
}

.mar3 {
  margin: 3px;
}

.mart4 {
  margin-top: 4px;
}

.marb4 {
  margin-bottom: 4px;
}

.marl4 {
  margin-left: 4px;
}

.marr4 {
  margin-right: 4px;
}

.mar4 {
  margin: 4px;
}

.mart5 {
  margin-top: 5px;
}

.marb5 {
  margin-bottom: 5px;
}

.marl5 {
  margin-left: 5px;
}

.marr5 {
  margin-right: 5px;
}

.mar5 {
  margin: 5px;
}

.mart6 {
  margin-top: 6px;
}

.marb6 {
  margin-bottom: 6px;
}

.marl6 {
  margin-left: 6px;
}

.marr6 {
  margin-right: 6px;
}

.mar6 {
  margin: 6px;
}

.mart7 {
  margin-top: 7px;
}

.marb7 {
  margin-bottom: 7px;
}

.marl7 {
  margin-left: 7px;
}

.marr7 {
  margin-right: 7px;
}

.mar7 {
  margin: 7px;
}

.mart8 {
  margin-top: 8px;
}

.marb8 {
  margin-bottom: 8px;
}

.marl8 {
  margin-left: 8px;
}

.marr8 {
  margin-right: 8px;
}

.mar8 {
  margin: 8px;
}

.mart9 {
  margin-top: 9px;
}

.marb9 {
  margin-bottom: 9px;
}

.marl9 {
  margin-left: 9px;
}

.marr9 {
  margin-right: 9px;
}

.mar9 {
  margin: 9px;
}

.mart10 {
  margin-top: 10px;
}

.marb10 {
  margin-bottom: 10px;
}

.marl10 {
  margin-left: 10px;
}

.marr10 {
  margin-right: 10px;
}

.mar10 {
  margin: 10px;
}

.mart20 {
  margin-top: 20px;
}

.marb20 {
  margin-bottom: 20px;
}

.marl20 {
  margin-left: 20px;
}

.marr20 {
  margin-right: 20px;
}

.mar20 {
  margin: 20px;
}

.mart30 {
  margin-top: 30px;
}

.marb30 {
  margin-bottom: 30px;
}

.marl30 {
  margin-left: 30px;
}

.marr30 {
  margin-right: 30px;
}

.mar30 {
  margin: 30px;
}

.mart40 {
  margin-top: 40px;
}

.marb40 {
  margin-bottom: 40px;
}

.marl40 {
  margin-left: 40px;
}

.marr40 {
  margin-right: 40px;
}

.mar40 {
  margin: 40px;
}

.mart50 {
  margin-top: 50px;
}

.marb50 {
  margin-bottom: 50px;
}

.marl50 {
  margin-left: 50px;
}

.marr50 {
  margin-right: 50px;
}

.mar50 {
  margin: 50px;
}

.mart60 {
  margin-top: 60px;
}

.marb60 {
  margin-bottom: 60px;
}

.marl60 {
  margin-left: 60px;
}

.marr60 {
  margin-right: 60px;
}

.mar60 {
  margin: 60px;
}

.mart70 {
  margin-top: 70px;
}

.marb70 {
  margin-bottom: 70px;
}

.marl70 {
  margin-left: 70px;
}

.marr70 {
  margin-right: 70px;
}

.mar70 {
  margin: 70px;
}

.mart80 {
  margin-top: 80px;
}

.marb80 {
  margin-bottom: 80px;
}

.marl80 {
  margin-left: 80px;
}

.marr80 {
  margin-right: 80px;
}

.mar80 {
  margin: 80px;
}

.mart90 {
  margin-top: 90px;
}

.marb90 {
  margin-bottom: 90px;
}

.marl90 {
  margin-left: 90px;
}

.marr90 {
  margin-right: 90px;
}

.mar90 {
  margin: 90px;
}

/* ------ padding ------ */
.padt1 {
  padding-top: 1px;
}

.padb1 {
  padding-bottom: 1px;
}

.padl1 {
  padding-left: 1px;
}

.padr1 {
  padding-right: 1px;
}

.pad1 {
  padding: 1px;
}

.padt2 {
  padding-top: 2px;
}

.padb2 {
  padding-bottom: 2px;
}

.padl2 {
  padding-left: 2px;
}

.padr2 {
  padding-right: 2px;
}

.pad2 {
  padding: 2px;
}

.padt3 {
  padding-top: 3px;
}

.padb3 {
  padding-bottom: 3px;
}

.padl3 {
  padding-left: 3px;
}

.padr3 {
  padding-right: 3px;
}

.pad3 {
  padding: 3px;
}

.padt4 {
  padding-top: 4px;
}

.padb4 {
  padding-bottom: 4px;
}

.padl4 {
  padding-left: 4px;
}

.padr4 {
  padding-right: 4px;
}

.pad4 {
  padding: 4px;
}

.padt5 {
  padding-top: 5px;
}

.padb5 {
  padding-bottom: 5px;
}

.padl5 {
  padding-left: 5px;
}

.padr5 {
  padding-right: 5px;
}

.pad5 {
  padding: 5px;
}

.padt6 {
  padding-top: 6px;
}

.padb6 {
  padding-bottom: 6px;
}

.padl6 {
  padding-left: 6px;
}

.padr6 {
  padding-right: 6px;
}

.pad6 {
  padding: 6px;
}

.padt7 {
  padding-top: 7px;
}

.padb7 {
  padding-bottom: 7px;
}

.padl7 {
  padding-left: 7px;
}

.padr7 {
  padding-right: 7px;
}

.pad7 {
  padding: 7px;
}

.padt8 {
  padding-top: 8px;
}

.padb8 {
  padding-bottom: 8px;
}

.padl8 {
  padding-left: 8px;
}

.padr8 {
  padding-right: 8px;
}

.pad8 {
  padding: 8px;
}

.padt9 {
  padding-top: 9px;
}

.padb9 {
  padding-bottom: 9px;
}

.padl9 {
  padding-left: 9px;
}

.padr9 {
  padding-right: 9px;
}

.pad9 {
  padding: 9px;
}

.padt10 {
  padding-top: 10px;
}

.padb10 {
  padding-bottom: 10px;
}

.padl10 {
  padding-left: 10px;
}

.padr10 {
  padding-right: 10px;
}

.pad10 {
  padding: 10px;
}

.padt20 {
  padding-top: 20px;
}

.padb20 {
  padding-bottom: 20px;
}

.padl20 {
  padding-left: 20px;
}

.padr20 {
  padding-right: 20px;
}

.pad20 {
  padding: 20px;
}

.padt30 {
  padding-top: 30px;
}

.padb30 {
  padding-bottom: 30px;
}

.padl30 {
  padding-left: 30px;
}

.padr30 {
  padding-right: 30px;
}

.pad30 {
  padding: 30px;
}

.padt40 {
  padding-top: 40px;
}

.padb40 {
  padding-bottom: 40px;
}

.padl40 {
  padding-left: 40px;
}

.padr40 {
  padding-right: 40px;
}

.pad40 {
  padding: 40px;
}

.padt50 {
  padding-top: 50px;
}

.padb50 {
  padding-bottom: 50px;
}

.padl50 {
  padding-left: 50px;
}

.padr50 {
  padding-right: 50px;
}

.pad50 {
  padding: 50px;
}

.padt60 {
  padding-top: 60px;
}

.padb60 {
  padding-bottom: 60px;
}

.padl60 {
  padding-left: 60px;
}

.padr60 {
  padding-right: 60px;
}

.pad60 {
  padding: 60px;
}

.padt70 {
  padding-top: 70px;
}

.padb70 {
  padding-bottom: 70px;
}

.padl70 {
  padding-left: 70px;
}

.padr70 {
  padding-right: 70px;
}

.pad70 {
  padding: 70px;
}

.padt80 {
  padding-top: 80px;
}

.padb80 {
  padding-bottom: 80px;
}

.padl80 {
  padding-left: 80px;
}

.padr80 {
  padding-right: 80px;
}

.pad80 {
  padding: 80px;
}

.padt90 {
  padding-top: 90px;
}

.padb90 {
  padding-bottom: 90px;
}

.padl90 {
  padding-left: 90px;
}

.padr90 {
  padding-right: 90px;
}

.pad90 {
  padding: 90px;
}

.fs-7 {
  font-size: 7px;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fixed-clear:after, #main-index .index-wrap .box-wrap:after, .list-wrap .btn-wrap:after, .list-wrap .rect-wrap:after, nav#gnb #gnb-wrap:after, header#hd #hd-wrap #tnb ul:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}

.td-ul {
  text-decoration: underline;
}
.td-ol {
  text-decoration: overline;
}
.td-lt {
  text-decoration: line-through;
}
.td-nn {
  text-decoration: none;
}

.va-top {
  vertical-align: top !important;
}

.frm-input {
  height: 28px;
  padding: 2px 5px 2px 2px;
  border: 1px solid #eee;
  font-size: 14px;
}

.btn-excel, .btn-large, .btn-medium, .btn-small, .btn-ssmall {
  display: inline-block;
  outline: 0;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  cursor: pointer;
}

button:disabled {
  background: #ddd !important;
  color: #efefef !important;
}

button:disabled:hover {
  border-color: #ccc;
  color: #efefef !important;
}

.btn-ssmall {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 1.222;
  font-weight: 300 !important;
}
.btn-small {
  padding: 4px 10px;
  height: 28px;
  font-size: 13px;
  line-height: 1.077;
  font-weight: 400;
}
.btn-medium {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.222;
  font-weight: 400;
}
.btn-large {
  padding: 8px 16px;
  font-size: 15px;
  line-height: 1.222;
  font-weight: 500;
}
.btn-excel {
  height: 28px;
  background-image: url(../images/icon/excel_download.png) !important;
  background-repeat: no-repeat;
  background-position: 2px center;
  padding: 4px 8px 6px 22px;
  font-size: 12px;
  font-weight: 400;
  color: #444;
  border: 1px solid #ccc;
}
.btn-excel:hover {
  border-color: #333;
}
.btn-white {
  background: #fff !important;
  color: #111 !important;
  border: 1px solid #ddd !important;
}
.btn-white:hover {
  border-color: #333 !important;
}
.btn-theme {
  color: #fff !important;
  background: #f33562 !important;
  border: 1px solid #f33562 !important;
}
.btn-theme:hover {
  color: #fff !important;
  background: #f33562 !important;
  border: 1px solid #f33562 !important;
}
.btn-blue {
  color: #fff !important;
  background: #006daa !important;
  border: 1px solid #006daa !important;
}
.btn-blue:hover {
  color: #fff !important;
  background: #014164 !important;
  border: 1px solid #014164 !important;
}
.btn-line-blue {
  color: #006daa !important;
  background: #fff !important;
  border: 1px solid #c0d8e5 !important;
}
.btn-line-blue:hover {
  color: #014164 !important;
  background: #fff !important;
  border: 1px solid #006daa !important;
}
.btn-black {
  color: #fff !important;
  background: #333 !important;
  border: 1px solid #333 !important;
}
.btn-black:hover {
  background: #111 !important;
  border: 1px solid #111 !important;
}
.btn-gray {
  color: #fff !important;
  background: #787878 !important;
  border: 1px solid #787878 !important;
}
.btn-gray:hover {
  background: #555 !important;
  border: 1px solid #555 !important;
}
.btn-line-gray {
  color: #787878 !important;
  background: #fff !important;
  border: 1px solid #eee !important;
}
.btn-line-gray:hover {
  color: #555 !important;
  background: #fff !important;
  border: 1px solid #787878 !important;
}
.btn-red {
  color: #fff !important;
  background: #e94235 !important;
  border: 1px solid #e94235 !important;
}
.btn-red:hover {
  background: #cd0c0c !important;
  border: 1px solid #cd0c0c !important;
}
.btn-line-red {
  color: #e94235 !important;
  background: #fff !important;
  border: 1px solid #f7e3e1 !important;
}
.btn-line-red:hover {
  color: #cd0c0c !important;
  background: #fff !important;
  border: 1px solid #cd0c0c !important;
}

.bg-white {
  background: #fff !important;
}
.bg-red {
  background: #e94235 !important;
}
.bg-light-red {
  background: #f7e3e1 !important;
}
.bg-light-blue {
  background: #f8fbfd !important;
}
.bg-blue {
  background: #006daa !important;
}
.bg-light-yellow {
  background: #fefcec !important;
}
.bg-yellow {
  background: #f9de05 !important;
}
.bg-black {
  background: #333 !important;
}
.bg-gray {
  background: #787878 !important;
}
.bg-theme {
  background: #f33562 !important;
}

.fc-white {
  color: #fff !important;
}
.fc-light-red {
  color: #f7e3e1 !important;
}
.fc-red {
  color: #e94235 !important;
}
.fc-light-blue {
  color: #f8fbfd !important;
}
.fc-blue {
  color: #006daa !important;
}
.fc-light-yellow {
  color: #fefcec !important;
}
.fc-yellow {
  color: #f9de05 !important;
}
.fc-black {
  color: #333 !important;
}
.fc-gray {
  color: #787878 !important;
}
.fc-theme {
  color: #f33562 !important;
}

html,
body {
  height: 100%;
}

#container {
  height: 100%;
  min-height: calc(100% - 50px);
  min-width: 800px;
}

header#hd {
  width: 100%;
  height: 50px;
  background-color: #f33562;
  position: fixed;
  z-index: 1000;
  top: 0;
}

aside#aside {
  width: 200px;
  height: calc(100% - 50px);
  float: left;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  box-sizing: border-box;
  overflow-y: scroll;
  top: 50px;
  left: 0;
}

#sidelayout {
  width: 100%;
  height: 100%;
  float: right;
  padding-left: 200px;
  padding-top: 50px;
  box-sizing: border-box;
}

footer#ft {
  height: 50px;
  box-sizing: border-box;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #787878;
  font-size: 13px;
  background-color: #eee;
}

#contents {
  background-color: #eee;
  min-height: 100%;
}

header#hd #hd-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#hd #hd-wrap #logo {
  padding-left: 15px;
}
header#hd #hd-wrap #logo a {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}
header#hd #hd-wrap #tnb {
  padding-right: 10px;
}
header#hd #hd-wrap #tnb ul {
  display: inline-block;
}
header#hd #hd-wrap #tnb ul li {
  float: left;
}
header#hd #hd-wrap #tnb ul li a {
  color: #fff;
  padding: 10px;
  font-size: 14px;
}

nav#gnb {
  min-width: 1024px;
  max-width: 1980px;
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 2000;
  background: #fff;
  box-shadow: 1px 1px 4px #ddd;
  font-size: 17px;
}
nav#gnb #gnb-wrap .gnb-list {
  float: left;
}
nav#gnb #gnb-wrap .gnb-list a {
  font-weight: 400;
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  line-height: 45px;
  height: 45px;
}
nav#gnb #gnb-wrap .gnb-list a:hover {
  color: #f33562;
}
nav#gnb #gnb-wrap .gnb-list.active a {
  color: #f33562;
  font-weight: 500;
}

#aside .snb-inner {
  padding-bottom: 100px;
}
#aside .snb-inner .tab:not(:first-child) {
  border-top: 1px solid #eee;
}
#aside .snb-inner .tab .subj {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
#aside .snb-inner .tab .subj .braket {
  width: 6px;
  height: 6px;
  display: inline-block;
  float: right;
  vertical-align: middle;
  margin-top: 14px;
  margin-right: 5px;
  border-bottom: 1px solid #787878;
  border-right: 1px solid #787878;
  transition: transform 0.5s;
  transform: rotate(45deg);
}
#aside .snb-inner .tab .subj .braket.active {
  transform: rotate(225deg);
}
#aside .snb-inner .tab .tab-menu div {
  display: block;
  position: relative;
}
#aside .snb-inner .tab .tab-menu div a {
  display: block;
  padding: 7px 0 7px 20px;
  color: #555;
  font-size: 14px;
}
#aside .snb-inner .tab .tab-menu div a.deny {
  color: #ddd;
  text-decoration: line-through;
}
#aside .snb-inner .tab .tab-menu div.active a {
  font-weight: 500;
  color: #f33562;
  background-color: #eee;
}

#contents {
  padding: 20px;
  background-color: #eee;
  min-height: 100%;
  box-sizing: border-box;
}
#contents .cont-title,
#contents .pg-tit {
  color: #000;
  font-size: 19px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
#contents .cont-info {
  padding-left: 10px;
  font-size: 12px;
  color: #787878;
}
#contents .tabs {
  margin: 0 0 20px 0;
  height: 29px;
  border-bottom: 1px solid #bbb;
}
#contents .tabs li {
  float: left;
  margin-right: -1px;
  line-height: 24px;
  border: 1px solid #bbb;
}
#contents .tabs li a {
  display: inline-block;
  padding: 2px 15px;
  font-size: 13px;
  color: #444;
  text-decoration: none !important;
}
#contents .tabs li.active {
  border: 1px solid #f33562;
  background-color: #f33562;
}
#contents .tabs li.active a {
  color: #fff;
}
#contents .cont-wrap {
  margin-top: 5px;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 1px 3px 6px #bbb;
}
#contents .h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}
#contents .h2:before {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 9px;
  width: 8px;
  height: 8px;
  background: #f33562;
  content: "";
}
#contents .h3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
#contents .confirm-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#contents .img-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-wrap .rect-wrap {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.list-wrap .rect-wrap span {
  display: inline-block;
}
.list-wrap .rect-wrap .cnt-wrap {
  font-size: 13px;
}
.list-wrap .rect-wrap .cnt-wrap .cnt {
  color: #e94235;
  margin-left: 5px;
}
.list-wrap .rect-wrap .rpp-wrap {
  margin-left: 10px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.list-wrap .rect-wrap .right-wrap {
  float: right;
}
.list-wrap .btn-wrap {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.list-wrap .btn-wrap .right-wrap {
  float: right;
}

.search-wrap table, .rhead01-wrap table, .chead02-wrap table, .chead01-wrap table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
}
.search-wrap table th, .rhead01-wrap table th, .chead02-wrap table th, .chead01-wrap table th {
  background-color: #fcfcfc;
  font-size: 14px;
  font-weight: 500;
}
.search-wrap table th a, .rhead01-wrap table th a, .chead02-wrap table th a, .chead01-wrap table th a {
  color: #000;
  text-decoration: underline;
}
.search-wrap table td, .rhead01-wrap table td, .chead02-wrap table td, .chead01-wrap table td {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2em;
  vertical-align: middle;
  word-wrap: break-word;
}
.search-wrap table td a, .rhead01-wrap table td a, .chead02-wrap table td a, .chead01-wrap table td a {
  color: #000;
  font-weight: 500;
}
.search-wrap table td a:focus, .rhead01-wrap table td a:focus, .chead02-wrap table td a:focus, .chead01-wrap table td a:focus, .search-wrap table td a:hover, .rhead01-wrap table td a:hover, .chead02-wrap table td a:hover, .chead01-wrap table td a:hover, .search-wrap table td a:active, .rhead01-wrap table td a:active, .chead02-wrap table td a:active, .chead01-wrap table td a:active {
  text-decoration: underline;
}
.search-wrap table td input, .rhead01-wrap table td input, .chead02-wrap table td input, .chead01-wrap table td input {
  max-width: 100%;
}

.chead01-wrap {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.chead01-wrap th {
  padding: 10px 5px;
}
.chead01-wrap th.sort {
  padding-right: 17px;
  background-repeat: no-repeat;
  background-position: right 60%;
  background-image: url(../img/icon/sort-both.png);
  cursor: pointer;
}
.chead01-wrap th.sort.asc {
  background-image: url(../img/icon/sort-asc.png);
}
.chead01-wrap th.sort.desc {
  background-image: url(../img/icon/sort-desc.png);
}
.chead01-wrap td {
  padding: 10px 5px;
  text-align: center;
}
.chead01-wrap th,
.chead01-wrap td {
  border-bottom: 1px solid #eee;
}
.chead01-wrap th:not(:first-child),
.chead01-wrap td:not(:first-child) {
  border-left: 1px solid #eee;
}
.chead01-wrap tr:hover {
  background: #f7f7f7;
}

.chead02-wrap {
  padding-bottom: 20px;
}
.chead02-wrap th {
  padding: 10px 5px;
}
.chead02-wrap th.sort {
  padding-right: 17px;
  background-repeat: no-repeat;
  background-position: right 60%;
  background-image: url(../img/icon/sort-both.png);
  cursor: pointer;
}
.chead02-wrap th.sort.asc {
  background-image: url(../img/icon/sort-asc.png);
}
.chead02-wrap th.sort.desc {
  background-image: url(../img/icon/sort-desc.png);
}
.chead02-wrap td {
  padding: 10px 5px;
  text-align: center;
}
.chead02-wrap th,
.chead02-wrap td {
  border-bottom: 1px solid #eee;
}
.chead02-wrap th:not(:first-child),
.chead02-wrap td:not(:first-child) {
  border-left: 1px solid #eee;
}
.chead02-wrap tr:hover {
  background: #f7f7f7;
}

.rhead01-wrap {
  padding-bottom: 20px;
}
.rhead01-wrap th {
  padding: 10px;
}
.rhead01-wrap td {
  padding: 5px 10px;
}

.search-wrap {
  padding-bottom: 20px;
}
.search-wrap th {
  padding: 10px 5px;
}
.search-wrap td {
  padding: 5px 10px;
}
.search-wrap label {
  margin-right: 10px;
}

.info {
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.3em;
  font-size: 13px;
  color: #787878;
}

.warning {
  background-image: url(../img/icon/information.png) !important;
  background-repeat: no-repeat;
  background-position: left 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 18px;
  line-height: 1.3em;
  font-size: 13px;
  color: #e94235;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 100;
  white-space: nowrap;
  padding-right: 18px;
  background-image: url(../img/icon/question-mark.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.tooltip .tooltiptext {
  position: absolute;
  display: none;
  width: auto;
  min-width: 100px;
  height: auto;
  background: #555;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 8px #ccc;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-align: left;
}
.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 77px;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-top: 8px solid #555;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tooltip:hover .tooltiptext {
  display: block;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
}

.date-group {
  margin-left: 10px;
}

.help-wrap {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #fcfcfc;
}
.help-wrap ul {
  list-style: square;
  padding-bottom: 10px;
}
.help-wrap ul li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  padding-left: 5px;
}
.help-wrap ul li::before {
  content: "•";
  margin-right: 5px;
}
.help-wrap ul li a {
  font-size: 14px;
  font-weight: 400;
  vertical-align: initial;
}

.comment-wrap .comment-item-user {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
.comment-wrap .comment-input-item {
  background-color: #fcfcfc;
  padding: 5px;
}
.comment-wrap .comment-list-wrap .comment-list {
  background-color: #fcfcfc;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  position: relative;
}
.comment-wrap .comment-list-wrap .comment-list:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #f33562;
  border-left: 2px solid #f33562;
  top: 9px;
  left: 4px;
}

.multiple-select {
  width: 100%;
  height: 100% !important;
  min-height: 150px;
}

/* 페이지 하단 > 페이지 버튼 */
.pg-wrap {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.pg-wrap .pg span,
.pg-wrap .pg a {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  min-width: 9px;
  height: 27px;
  border: 1px solid #fcfcfc;
  margin-left: 1px;
  margin-right: 1px;
  line-height: 25px;
  vertical-align: middle;
}
.pg-wrap .pg .img-btn {
  width: 27px;
  text-indent: -9000px;
  background-image: url("../img/sprite-pg-ver2.png");
  background-repeat: no-repeat;
}
.pg-wrap .pg .pg-btn {
  background-color: #fcfcfc;
  padding: 0 8px;
}
.pg-wrap .pg .pg-current {
  background-color: #f33562;
  color: #fff;
  cursor: default;
  padding: 0 8px;
}
.pg-wrap .pg .pg-prev {
  margin-right: 4px !important;
}
.pg-wrap .pg .pg-next {
  margin-left: 4px !important;
}
.pg-wrap .pg a.pg-start {
  background-position: -116px 0;
}
.pg-wrap .pg span.pg-start {
  background-position: 0 0;
}
.pg-wrap .pg a.pg-prev {
  background-position: -145px 0;
}
.pg-wrap .pg span.pg-prev {
  background-position: -29px 0;
}
.pg-wrap .pg a.pg-next {
  background-position: -174px 0;
}
.pg-wrap .pg span.pg-next {
  background-position: -58px 0;
}
.pg-wrap .pg a.pg-end {
  background-position: -203px 0;
}
.pg-wrap .pg span.pg-end {
  background-position: -87px 0;
}
.pg-wrap .pg a:focus,
.pg-wrap .pg a:hover {
  border: 1px solid #eee;
}

#main-index {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
#main-index .notice-wrap .board-item {
  display: flex;
  align-items: center;
}
#main-index .notice-wrap .board-item .board-title {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}
#main-index .notice-wrap .board-item .board-title img {
  padding-left: 2px;
  margin-bottom: 2px;
}
#main-index .notice-wrap .board-item .post-title {
  font-size: 14px;
  color: #787878;
  cursor: pointer;
}
#main-index .index-wrap {
  display: flex;
  justify-content: space-between;
}
#main-index .index-wrap .box-wrap {
  box-shadow: 1px 3px 5px #ddd;
  background-color: #fff;
  box-sizing: border-box;
  height: 170px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#main-index .index-wrap .box-wrap .item-wrap {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  height: 100%;
}
#main-index .index-wrap .box-wrap .item-wrap:not(:last-child) {
  border-right: 1px solid #eee;
}
#main-index .index-wrap .box-wrap .item-wrap .item-title {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
#main-index .index-wrap .box-wrap .item-wrap .item-data {
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
}
#main-index .index-wrap .box-wrap .item-wrap .item-data .number-data {
  color: #f33562;
  font-weight: 700;
  font-size: 24px;
  padding-right: 2px;
}
#main-index .box-col1 {
  width: 16.6%;
}
#main-index .box-col2 {
  width: 33.3%;
}
#main-index .box-col3 {
  width: 50%;
}
#main-index .box-col4 {
  width: 66.6%;
}
#main-index .box-col5 {
  width: 83.3%;
}
#main-index .box-col6 {
  width: 100%;
}

/*# sourceMappingURL=admin.css.map */
