<section id="contents">
    <h1 class="cont-title">할인권 목록</h1>
    <div class="cont-wrap">
        <form action="#" method="post">
            <div class="list-wrap">
                <div class="rect-wrap">
                    <span class="cnt-wrap">
                        검색된 할인권 :
                        <b class="cnt" id="cnt"></b> 개
                    </span>
                    <span class="right-wrap">
                        <button
                            type="button"
                            class="btn-excel"
                            id="excel-download"
                        >
                            엑셀저장
                        </button>
                    </span>
                </div>
                <div class="btn-wrap">
                    <button
                        type="button"
                        onClick="winOpen('<?=_URL?>/storevoucher/form')"
                        class="btn-small btn-white"
                    >
                        + 할인권 추가
                    </button>
                </div>
                <div id="storevoucher-list"></div>
            </div>
        </form>
    </div>
</section>
