<section id="contents">
    <h1 class="cont-title">미디어 정보</h1>
    <div class="cont-wrap">
        <form method="POST" id="frm-data" name="frm-data">
            <div class="rhead01-wrap">
                <div class="h2">기본 정보</div>
                <table>
                    <colgroup>
                        <col class="w130" />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">미디어 고유 번호</th>
                            <td>
                                <input type="text" name="media_idx" disabled />
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">미디어 제목</th>
                            <td>
                                <input
                                    type="text"
                                    name="media_title"
                                    required
                                />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">미디어 이미지</th>
                            <td>
                                <input type="text" name="media_simg" />
                                <img
                                    style="display: block"
                                    class="mart5 pre-view"
                                    width="300"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">미디어 내용</th>
                            <td>
                                <textarea name="media_content"></textarea>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">미디어 출처</th>
                            <td>
                                <input type="text" name="media_reference" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">미디어 노출 여부</th>
                            <td>
                                <select name="media_use_yn">
                                    <option value="y">노출</option>
                                    <option value="n">비노출</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="confirm-wrap">
                    <input
                        type="submit"
                        id="frm-submit"
                        value="등록"
                        class="btn-large btn-theme"
                        accesskey="s"
                    />
                    <input
                        type="button"
                        value="닫기"
                        class="btn-large btn-white"
                        accesskey="s"
                        onClick="window.close()"
                    />
                </div>
            </div>
        </form>
    </div>
</section>
